apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      initContainers:
        - name: init-redis-check
          image: busybox:1.36
          command: ['sh','-c', 'until nslookup dragonfly.dragonfly-system.svc.cluster.local; do echo "waiting for redis FQDN"; sleep 2; done;']
      containers:
        - name: course-app
          image: yarovskiy/course-app
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
             requests:
               cpu: 125m
               memory: 64Mi
             limits:
               cpu: 250m
               memory: 128Mi
          envFrom:
            - configMapRef:
                name: course-app-config
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
      restartPolicy: Always
